html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #3498db; 
    color: #2c3e50; 
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #ecf0f1; /* Light gray background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header {
    width: 100%;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #bdc3c7; /* Light gray border */
  }
  
  .quotes {
    padding: 30px 50px;
    min-height: 200px;
  }
  
  .quote-text {
    padding-bottom: 20px;
    font-size: 24px;
    color: #34495e; 
  }
  
  .controls {
    width: 100%;
    padding: 30px 50px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 22px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .twitter {
    background-color: #55acee; 
    text-decoration: none;
  }
  
  .twitter:hover {
    background-color: #2795e9; 
  }
  
  .new-quote {
    background-color: #e74c3c; 
    margin-bottom: 20px;
  }
  
  .new-quote:hover {
    background-color: #c0392b; 
  }
  
  .new-quote:disabled {
    background-color: #95a5a6; 
    color: #7f8c8d; 
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px; 
    }
  }


.dark-mode body {
    background-color: #2c3e50;
    color: #ecf0f1;
  }
  
  .dark-mode .app {
    background-color: #34495e;
  }
  
  .dark-mode header {
    border-bottom: 2px solid #bdc3c7;
  }
  
  .dark-mode .quote-text {
    color: #ecf0f1;
  }
  
  .dark-mode .button {
    background-color: #3498db;
  }
  
  .dark-mode .button:hover {
    background-color: #2980b9;
  }
  
  