body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 0.3 ease;

}

#box1:hover{
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: moveBox 3s infinite; 
}

@keyframes moveBox {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 50vw;
        top: 0;
    }
    50% {
        left: 50vw;
        top: 50vh;
    }
    75% {
        left: 0;
        top: 50vh;
    }
    100% {
        left: 0;
        top: 0;
    }
}

@keyframes box2move{
}