body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    font-family: papyrus;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: limegreen;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color: blue;
}


img{
    width:30vw;
    height: 30vh;
}

img:hover{
    width:100%
}

#red-ball{
    background-color: purple;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    margin-left:0;
    transition: margin-left 4s ease;
}

#red-ball:hover{
    margin-left: 200px;
}



