body{
    position: fixed;
    top: 10px;
    right: 10px;

}

article{
    top: 10px;
    right: 20px;
    transform: translate(50px) /*takes a parameter that you can translate by. It will move it this # of pixels. */
}